/**
 * _layout.scss
 *
 * Overall layout of the app
 */

.sidebar {
    width: 250px;
}

.ui,
.add-feed {
    height: 100vh;
    margin-left: 250px;
    width: 81%;
}

.content {
    margin-top: 60px;
    margin-left: 10px;
}
