/**
 * _layout.scss
 *
 * Overall layout of the app
 */

.sidebar {
    width: 20%;
    min-width: 225px;
}

.ui,
.add-feed {
    height: 100vh;
}

.ui-content {
    padding-left: 20%;
    width: 80%;
}

.feeds {

}
