/**
 * _episode.scss
 *
 * Styles for the Episode component
 */

.episode-wrapper {
    overflow: auto;
    padding-left: 10px;
    border-top: 1px solid #D3D3D3;

    &.active {
        background: #E6E6E6;
    }
}

.episode-info {
    cursor: pointer;
    padding: 2px 0;

    &:hover {
        background: #E6E6E6;
    }

    &.unplayed {
        .episode-name {
            font-weight: bold;
        }
    }

    .feed-name {
        display: inline-block;
        width: 15%;
        font-size: .75em;
    }

    .episode-name {

    }

    .date {
        float: right;
        font-size: .75em;
        margin-top: 2px;
    }

}

.episode-details {
    background: #E6E6E6;

    .episode-image {
        float: left;
        width: 15%;
        padding-top: 2%;

        img {
            width: 60%;
            height: auto;
        }
    }

    .episode-info {
        width: 50%;
        float: left;

        .description {
            padding-top: 2%;
            padding-bottom: 2%;
        }

        audio {
            display: block;
            padding-bottom: 2%;
        }
    }

}
