/**
 * _episode.scss
 *
 * Styles for the Episode component
 */

.episode-wrapper {
    padding-left: 10px;
    border-top: 1px solid #D3D3D3;

    &.active {
        background: #E6E6E6;
    }
}

.episode-info {
    cursor: pointer;
    padding: 2px 0;

    &:hover {
        background: #E6E6E6;
    }

    &.unplayed {
        .episode-name {
            font-weight: bold;
        }
    }

    .feed-name {
        display: inline-block;
        width: 15%;
        font-size: .75em;
    }

    .episode-name {

    }

    .date {
        float: right;
        font-size: .75em;
        margin-top: 2px;
    }

}

.episode-details {
    background: #E6E6E6;

    .description {
        width: 50%;
        padding-top: 2%;
        margin: 0 0 0 15%;
    }

    audio {
        display: block;
        width: 50%;
        margin: 2% 0 0 15%;
        padding-bottom: 2%;
    }
}
