/**
 * _episode.scss
 *
 * Styles for the Episode component
 */

.episode-info {
    cursor: pointer;
    border-top: 1px solid #D3D3D3;
    padding: 2px 0;

    &:hover {
        background: #E6E6E6;
    }

    &.unplayed {
        .episode-name {
            font-weight: bold;
        }
    }

    .feed-name {
        display: inline-block;
        width: 15%;
        font-size: .75em;
    }

    .episode-name {

    }

    .date {
        float: right;
        font-size: .75em;
    }

}

.episode-details {

}
