/**
 * _feed.scss
 *
 * Styles for the Feed component
 */

.feed {
    cursor: pointer;

    a {
        display: inline-block;
        padding: 10px;
        width: 100%;
    }

    &:hover {
        background: #E6E6E6;
    }

    &.active {
        background: #428BCA;
        a {
            color: white;
        }
        &:hover {
            background: #428BCA;
        }
    }
}
