/**
 * _header.scss
 *
 * Styles for Header components
 */

.header {
    position: fixed;
    background: white;
    width: 100%;
    z-index: 99;
    height: 60px;
    top: 0;
    border-bottom: 1px solid #D3D3D3;

    h1 {
        margin: 0 0 0 10px;
        line-height: 60px;
        display: inline-block;
        float: left;
    }

    .action-icons {
        display: inline-block;
        float: right;
        width: 410px;
        padding: 12.5px 0;

        svg {
            cursor: pointer;
            width: 35px;
            height: 35px;
            padding-right: 5px;
        }
    }
}
