/**
 * _sidebar.scss
 */

.sidebar {
    position: fixed;
    border-right: 1px solid #D3D3D3;
    height: 100%;
    top: 0;
    z-index: 100;

    .new-feed-button {
        width: 75%;
    }
}

.new-feed-button {
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 10px auto 30px;
    text-transform: uppercase;

    a {
        display: inline-block;
        padding: 15px;
    }

    &:hover {
        border-color: black;
    }
}
